---
import { name, directory, tsukasaId, imageProtection } from '@settings';

import Layout from '@layouts/Layout.astro';
import NewsItems from '@components/NewsItems.astro';
import Button from '@components/Button.astro';

import '@styles/button.css';
import '@styles/page-news.css';
---

<Layout title={`{$fix_textarea_1}｜ニュース｜${name}｜テレビ朝日`} pegeDescription={`{$fix_textarea_1}`}>
  <Fragment is:raw>{if $fix_selected_data_3 == 2}
  <style>
    .news__container img {
      user-select: none;
    }
    @media print {
      .news__container img {
        visibility: hidden;
      }
    }
  </style>
  {/if}</Fragment>
  <section class="news__container section__container">
    <h2 class="typ__h2" data-label="ニュース">news</h2>
    <div class="news__item__container section__items__container">
      {'{BLOCK_SPACE}'}
    </div>

    <h2 class="typ__h2" data-label="バックナンバー">backnumber</h2>
    <NewsItems json={`/${directory}/news/list.json`} class="news__items__split__screen" tId={tsukasaId} limit=3 lazyLoad={true} itemClass="textured__card" protect={imageProtection} />
    <Button href="../" class="center__pos opac">ニュース一覧へ</Button>
  </section>
</Layout>
