---
import { directory, imageProtection } from '@settings';
import mainSp from '@images/main_sp.jpg';
import mainPc from '@images/main_pc.png';
import mainPCBg from '@images/main_bg.jpg';
const _mainImageMobile = `url(${mainSp.src})`;
const _mainImageDesktop = `url(${mainPc.src})`;
const _mainPCBg = `url(${mainPCBg.src})`;
const _aspectRatioMobile = `${mainSp.width} / ${mainSp.height}`;
const _aspectRatioDesktop = `${mainSp.width} / ${mainSp.height}`;
const _mainPcWidth = `${mainPc.width}px`;
const _mainPcHeight = `${mainPc.height}px`;
---
<div class:list={['hero__image', imageProtection && 'hero__image__protect']}>
  <slot />
</div>

<style is:global define:vars={{ _mainImageMobile, _mainImageDesktop, _mainPCBg, _aspectRatioMobile, _aspectRatioDesktop, _mainPcWidth, _mainPcHeight }}>
  .device-type-mobile .hero__image {
    background-image: var(--_mainImageMobile);
    aspect-ratio: var(--_aspectRatioMobile);

    width: 100%;
    height: auto;
    background-size: contain;

    &::after {
      content: "";
      height: 0;
      padding-bottom: calc(100% * var(--_aspectRatioMobile));
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .device-type-desktop .hero__image {
    width: 100%;
    height: var(--_mainPcHeight);

    border-image-source: var(--_mainPCBg);
    border-image-slice: fill 0;
    border-image-outset: 0 100lvi;
    border-image-repeat: repeat;

    &::after {
      content: var(--_mainImageDesktop);
      width: var(_mainPcWidth);
      height: var(_mainPcHeight);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
</style>
