---
import { directory, imageProtection } from '@settings';
import mainSp from '@images/main_sp.jpg';
import mainPcFullWidth from '@images/main_pc_full_width.jpg';
const _mainImageMobile = `url(${mainSp.src})`;
const _mainImageDesktopFullWidth = `url(${mainPcFullWidth.src})`;
const _aspectRatioMobile = `${mainSp.width} / ${mainSp.height}`;
const _mainPcFullWidthHeight = `${mainPcFullWidth.height}px`;
---
<div  class:list={['hero__image', imageProtection && 'hero__image__protect']}>
  <slot />
</div>

<style is:global define:vars={{ _mainImageMobile, _mainImageDesktopFullWidth, _aspectRatioMobile, _mainPcFullWidthHeight }}>
  .device-type-mobile .hero__image {
    background-image: var(--_mainImageMobile);
    aspect-ratio: var(--_aspectRatioMobile);

    width: 100%;
    height: auto;
    background-size: contain;

    &::after {
      content: "";
      height: 0;
      padding-bottom: calc(100% * var(--_aspectRatioMobile));
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .device-type-desktop .hero__image {
    width: 100%;
    height: var(--_mainPcFullWidthHeight);

    border-image-source: var(--_mainImageDesktopFullWidth);
    border-image-slice: fill 0;
    border-image-outset: 0 100lvi;
    border-image-repeat: repeat;

    background-image: var(--_mainImageDesktopFullWidth);
    background-repeat: no-repeat;
    background-position: 50%;
  }
</style>
