---
import { directory, calendarScriptName } from '@settings';
import Layout from '@layouts/Layout.astro';
import Guest from '@components/Guest.astro';
import Glossary from '@components/Glossary.astro';
import CalendarButton from '@components/CalendarButton.astro';
import ImportHTML from '@components/ImportHTML.astro';
import GuestHandlebars from '@templates/guest-handlebars.html?raw';

const { title } = Astro.props;
---
<Layout title={title}>
  <div class="story__container">
    <h2 class="typ__h2" data-label="ストーリー">STORY</h2>
    <div class="story__items__container">


      <slot />
      <Glossary json={`/${directory}/api/cast.json`} />

      <div class="guest__container">
        <h3 class="h3-ttl">ゲスト</h3>
        <Guest json={`/${directory}/api/cast.json`} class="guest__items">
      </div>

      <CalendarButton html={`/${directory}/story/parts/calendar-btn.html`} name={calendarScriptName} />

      <h2 class="h2-ttl-inner" data-label="バックナンバー">BACKNUMBER</h2>
      <ImportHTML html={`/${directory}/story/parts/story-list.html`} class="backnumber__items" />
    </div>


    <script id="cast-template" type="text/x-handlebars-template" set:html={GuestHandlebars}></script>


  </div>
</Layout>

<script>
  (() => {
    const el = document.querySelector('.story__items__container iframe[data-src]');
    if (!el) return;

    const options = {
      threshold: 0,
    }
    const observer = new IntersectionObserver((entries) => {
      for(const e of entries) {
        if (e.isIntersecting === true) {
          const src = el.getAttribute('data-src')
          el.setAttribute('src', src);
          observer.unobserve(el);
        }
      }
    }, options);
    observer.observe(el);
  })();
</script>
